<div class="slider-promo">
	<div class="slider-promo__images">
		<img src="../src/images/slider-img1.png"/>
	</div>
	<a href="#1" class="slider-promo__nav slider-promo__nav_prev"></a>
	<a href="#2" class="slider-promo__nav slider-promo__nav_next"></a>
</div>