.unslider-nav {
	display: none;
}

.unslider-arrow {
	background: url(../src/images/arrow-previous.png);
	width: 38px;
	height: 71px;
	top: 50%;
}

.unslider-arrow.next {
	background: url(../src/images/arrow-next.png);
}
