.unslider-nav {
	display: none;
}

.main-slider .slick-arrow {
	width: 40px;
	height: 40px;
	top: 50%;
	position: absolute;
	text-indent: -9999px;
	outline: none;
	z-index: 998;
}

.main-slider .slick-prev {
	background: url(../src/images/arrow-previous.png) no-repeat;
	background-size: 50%;
	left: 30px;
}

.main-slider .slick-next  {
	background: url(../src/images/arrow-next.png) no-repeat;
	right: 30px;
	background-size: 50%;
}

.main-slider .slick-track {
	z-index: 996;
}
