<div data-components="mainSlider" class="main-slider">
	<div><img src="../src/images/slider-img1.png"/></div>
	<div><img src="../src/images/slider-img2.png"/></div>
	<div><img src="../src/images/slider-img3.png"/></div>
	<div><img src="../src/images/slider-img4.png"/></div>
</div>
	