.nav {
	
}

.nav__list {
	@extend .menu;
	text-transform: uppercase;
}

.nav__item-link {
	font-family: 'helveticaneuecyrbold', sans-serif;
	color: #3f3f3f;
	font-weight: normal;
	font-style: normal;
	font-size: 16px;
}