.nav__list {
	@extend .menu;
	text-transform: uppercase;
}

.nav__item-link {
	font-family: 'helveticaneuecyrbold', sans-serif;
	color: #3f3f3f;
	font-weight: normal;
	font-style: normal;
	font-size: 16px;

	&:hover,
	&:focus {
		color: inherit;
	}
}

.nav__item-link_text {
	&:after {
		display: block;
	    content: '';
	    height: 2px;
	    width: 100%;
	    margin-top: 1px;
	    background: #3f3f3f;
	    visibility: hidden;
        transform: scaleX(0);
        transition: all 0.3s ease-in-out 0s;
	}

	&:hover:after {
		visibility: visible;
  		transform: scaleX(1);
	}
}

.nav__item-link.active .nav__item-link_text {
	&:after {
		visibility: visible;
		transform: scaleX(1);
	}
}



