<div class="category-block">
	<div class="category">
		<img src="../src/images/category1.png" class="category__image">
		<div class="category__text-block">
			<img class="category__text-block-icon"  src="../src/images/icon-men.png">
			<span class="category__text-block-title">Men</span>
		</div>
	</div>
	<div class="category">
		<img src="../src/images/category2.png" class="category__image">
		<div class="category__text-block">
			<img class="category__text-block-icon"  src="../src/images/icon-president.png">
			<span class="category__text-block-title">Presidents</span>
		</div>
	</div>
	<div class="category">
		<img src="../src/images/category3.png" class="category__image">
		<div class="category__text-block">
			<img class="category__text-block-icon" src="../src/images/icon-humanoids.png">
			<span class="category__text-block-title">Humanoids</span>
		</div>
	</div>
	<div class="category">
		<img src="../src/images/category4.png" class="category__image">
		<div class="category__text-block">
			<img class="category__text-block-icon"  src="../src/images/5D-icon.png">
			<span>5D creautures</span>
		</div>
	</div>
</div>