<div class="category-block" data-components="Nav">
	<div class="category">
		<a data-id="men" class="category__link" href="#">
			<img src="../src/images/category1.png" class="category__image">
			<span class="category__text-block">
				<img class="category__text-block-icon" src="../src/images/icon-men.png">
				<span class="category__text-block-title">Men</span>
			</span>
		</a>
	</div>
	<div class="category">
		<a data-id="presidents" class="category__link" href="#">
			<img src="../src/images/category2.png" class="category__image">
			<span class="category__text-block">
				<img class="category__text-block-icon" src="../src/images/icon-president.png">
				<span class="category__text-block-title">Presidents</span>
			</span>
		</a>
	</div>
	<div class="category">
		<a data-id="humanoids" class="category__link" href="#">
			<img src="../src/images/category3.png" class="category__image">
			<span class="category__text-block">
				<img class="category__text-block-icon" src="../src/images/icon-humanoids.png">
				<span class="category__text-block-title">Humanoids</span>
			</span>
		</a>
	</div>
	<div class="category">
		<a data-id="5d-creatures" class="category__link" href="">
			<img src="../src/images/category4.png" class="category__image">
			<span class="category__text-block">
				<img class="category__text-block-icon" src="../src/images/5D-icon.png">
				<span class="category__text-block-title">5D creautures</span>
			</span>
		</a>
	</div>
</div>