<div data-components="Contacts"  class="contact">
  <h2 class="contact__title">We need your feedback</h2>
  <div class="contact__form">
  	<form class="form">
		  <div class="form__wrapper">
		    <div class="form__col">
		      <label class="form__label">Name
		        <input class="form__input"  type="text" placeholder="How do they call you?...">
		      </label>
		   		<label class="form__label">Email
		        <input class="form__input"  type="text" placeholder="It will be great if you have some shit like that...">
		      </label>
		   		<label class="form__label">Subject
		        <input class="form__input" type="text" placeholder="Better if you have it...">
		      </label>
		    </div>
		    <div class="form__col">
			    <label class="form__label"> Message
					  <textarea class="form__input form__textarea"  placeholder="I need my money back you fucking fucks. Or my race will declare war to yours..."></textarea>
					</label>
					<div class="input-group-button">
    				<input type="submit" class="button" value="Submit">
  				</div>
		    </div>
		  </div>
		</form>
	</div>
</div>
<div class="contact-map">
	<div class="connect">
		<h3 class="connect__title">Connect with us</h3>
		<div class="connect-block">
			<div class="connect__location">
				<div class="contact__location-name">Gfashion</div>
				<div class="contact__location-adress">Milky way, Solar System, Earth, <br>England, Fuchester, Baker Street 221B</div>
			</div>
			<div class="connect__contacts">
				<div class="connect__contacts-item connect__contacts-item_call">Really nigga?</div>
				<div class="connect__contacts-item connect__contacts-item_holo">GFholo</div>
			</div>
		</div>
	</div>
	<div class="contact-map__nav">
		<div><img src="../src/images/map-nav.png"></div>
		<div><img src="../src/images/map-line.png"></div>
	</div>
</div>