<div data-components="Contacts"  class="contact">
	<div class="contacts-wrapper">
	  <h2 class="contact__title">We need your feedback</h2>
	  <div class="contact__form">{{>form}}</div>
	</div>
</div>
<div class="contact-map">
	<div class="connect">
		<h3 class="connect__title">Connect with us</h3>
		<div class="connect-block">
			<div class="connect__location">
				<div class="contact__location-name">Gfashion</div>
				<div class="contact__location-adress">Milky way, Solar System, Earth, <br>England, Fuchester, Baker Street 221B</div>
			</div>
			<div class="connect__contacts">
				<div class="connect__contacts-item connect__contacts-item_call">Really nigga?</div>
				<div class="connect__contacts-item connect__contacts-item_holo">GFholo</div>
			</div>
		</div>
	</div>
	<div class="contact-map__nav">
		<div class="nav-circle"><img src="../src/images/map-nav.png"></div>
		<div class="nav-scale"><img src="../src/images/map-line.png"></div>
	</div>
</div>