.slick-dots {
	display: none!important;
}

.special-list {
	margin-top: 25px;
    max-width: 1168px;
    margin-left: auto;
    margin-right: auto;
}

.special-list .slick-arrow {
	display: block;
	position: absolute;
	top: 45%;
	background: #222 url(../src/images/arrow-left-white.svg) no-repeat center center;
	text-indent: -9999px;
    background-position: 40% center;
    margin-top: -40px;
    background-size: 25px;
    background-clip: padding-box;
    border-radius: 50%!important;
    width: 40px;
    height: 40px;
    z-index: 998;
    outline: none;
}

.special-list .slick-slide{
    width: 265px;
    margin-right: 36px;
}

.special-list .slick-prev {
	z-index: 998;
    left: -15px;
}

.special-list .slick-next {
	right: -15px;
	z-index: 998;
	transform: rotate(180deg);
}

.special-list .slick-track {
	z-index: 996;
}



