<div class="special-list special-list_text">
	<div class="special-list__title">Trending</div>
	<div class="special-list__description">Some trendy shit</div>
</div>
<div data-components="SpecialList" class="special-list"></div>