<form class="form">
  <div class="form__wrapper">
    <div class="form__col">
      <label class="form__label">Name
        <input class="form__input"  type="text" placeholder="How do they call you?...">
      </label>
   		<label class="form__label">Email
        <input class="form__input"  type="text" placeholder="It will be great if you have some shit like that...">
      </label>
   		<label class="form__label">Subject
        <input class="form__input" type="text" placeholder="Better if you have it...">
      </label>
    </div>
    <div class="form__col form__col_right">
	    <label class="form__label"> Message
			<textarea class="form__input form__textarea"  placeholder="I need my money back you fucking fucks. Or my race will declare war to yours..."></textarea>
		</label>
		<div class="form__submit">
			<input type="submit" class="ui-btn ui-btn_submit" value="Submit">
		</div>
    </div>
  </div>
</form>